.vue-tags-input {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem .25rem 0 .25rem;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  background: #fff;

  .vue-tags-input__tag {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #1e87f0;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 15px;
    padding: 0.25rem 0.5rem;
    color: white;
    margin-right: .25rem;
    margin-bottom: .5rem;
    background-color: #1e87f0;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }
  .vue-tags-input__tag-highlight {
    border: 1px solid #2c3339;
  }

  .vue-tags-input__input {
    flex: 1;
    background: transparent;
    border: none;
    line-height: 1.5;
    height: 32px;
    font-size: 15px;
  }
  .vue-tags-input__input:focus {
    outline: none;
  }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
